* {
    margin: 0;
    font-family: 'Noto Serif TC';
}

section {
    width: 100%;
    padding: 70px 0;
    background: #000000;
}

h1 {
    font-size: 6vw;
    color: gold;
    text-align: center;
}

p {
    font-size: 3vw;
    color: #fff;
    text-align: center;
    margin: 2vw;
}

hr {
    color: #fff;
    size: 1vw;
}

.section1 {
    height: 100vh;
    width: 100%;
    background: url("media/background.png");
    background-color: black;
    background-size: cover;
    background-position: center;
}

.section1 h1 {
    padding-top: 35vh;
    font-size: 9vw;
    color: gold;
    text-align: center;
}


.section2 .image-box {
    padding-top: 5vh;
    padding-left: 5vw;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section2 .image-box div {
    flex-basis: 25%;
    text-align: center;
    border-radius: 7px;
    color: #fff;
}

.section2 .image-box img {
    width: 18vw;
    height: 18vw;
    border-radius: 20%;
}

.section2 .image-box h2 {
    font-size: 4vw;
}

.section2 .image-box p {
    font-size: 1.5vw;
    margin: 0;
}

.section3 .anime-ranking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}