* {
    padding: 0;
    margin: 0;
}

section {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: absolute;
    margin: auto;

    border-radius: 10%;
    border-color: white;
    border-width: 0.2vw;

    background: none;
    font-size: 2vh;
    color: aqua;
    width: 15vw;
    height: 3vw;
}

video {
    position: fixed;
    left: 0;
    right: 0;
}

div div {
    position: relative;
    margin-top: 2vw;
}

p {
    text-align: center;
    color: white;
    font-size: 2.2vw;
}